<div class="contenedor_100 margin_top">
    <div class="col_izqda logotipo_cabecera">
        <a href="{{app.path}}/" title="Comunidad de Regantes | Virgen de la Salud"><img src="{{app.path}}/images/comunidad-regantes-virgen-de-la-salud.png" alt="Comunidad de Regantes | Virgen de la Salud" title="Comunidad de Regantes | Virgen de la Salud" /></a>
    </div>

    <div class="col_drcha">
        <ul id="acceso">
            <li><img src="{{app.path}}/images/958621127.png" alt="Tel&eacute;fono: 958 621 127" title="Tel&eacute;fono: 958 621 127" /></li>
            <li><a href="{{app.path}}/Acceso" title="">acceso identificado</a></li>
        </ul>
        {% block menuCabecera %}
            {% include '_global/menuCabecera.html.twig' %}
        {% endblock %}
    </div>
</div>

<span class="separacion_gran"></span>