<div class="col_izqda">
    <ul class="menu_pie ancho">
        {% for key,seccion in values.menuPie %}
            {% if key is even %}
                {% if values.controller==seccion.controller %} {% set claseCss="activo" %} {% else %} {% set claseCss=none %} {% endif %}
                <li>{{macro.link(seccion.etiquetaWeb, none, seccion.url.url,seccion.url.targetBlank,none,claseCss)}}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <ul class="menu_pie estrecho ultimo">
        {% for key,seccion in values.menuPie %}
            {% if key is odd %}
                {% if values.controller==seccion.controller %} {% set claseCss="activo" %} {% else %} {% set claseCss=none %} {% endif %}
                <li>{{macro.link(seccion.etiquetaWeb, none, seccion.url.url,seccion.url.targetBlank,none,claseCss)}}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

