<div class="col_izqda">
    {# Aquí va el calendario cuyo include en php es include('eventos/almanaque.php'); {% include '/' %} #}
    {% include '_global/ustedEstaEn.html.twig' %}
    {% include '_global/menuDesplegable.html.twig' %}
</div>	