

<div class="col_drcha">
    <div id="corporativo">
        <a href="index.php" title="Comunidad de Regantes | Virgen de la Salud"><img src="{{app.path}}/images/comunidad-regantes-virgen-de-la-salud-agua.png" alt="Comunidad de Regantes | Virgen de la Salud" title="Comunidad de Regantes | Virgen de la Salud" /></a>
        <ul>
            <li id="direccion">Avda. de Jete, 6  |  18612 &Iacute;TRABO (Granada)</li>
            <li id="telefono">958 621 127</li>
            <li id="mail" class="ultimo"><a href="mailto:info@regantesvirgensalud.com" title="escr&iacute;benos a: info@regantesvirgensalud.com">info@regantesvirgensalud.com</a></li>
        </ul>
    </div>

    <div id="datos_legales">
        <a href="http://www.articoestudio.com" title="&Aacute;rtico Estudio | Dise&ntilde;o Web en Granada" rel="pop-up" id="diseno_web">Dise&ntilde;o Web Granada<img src="{{app.path}}/images/artico-estudio-paginas-web.png" alt="&Aacute;rtico Estudio | Dise&ntilde;o Web en Granada" title="&Aacute;rtico Estudio | Dise&ntilde;o Web en Granada" class="articoestudio" /></a>
        <a href="aviso-legal.php" rel="iframe-800-550"  class="pirobox_gal2" title="Aviso Legal" id="aviso_legal">Aviso Legal</a>
    </div>


</div>


