{% extends layout %}

{% block contenido %}

    <div class="col_drcha">
    <h1>OLD BROWSER</h1>
    </div>


<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> branch 'master' of 192.168.1.101:~/proyectos/regantes.git
