<div class="media_drcha">
	<span class="raya verde"></span>
	<h1>&Aacute;lbumes fotogr&aacute;ficos</h1>
	<h4><a href="galeria.php" title="m&aacute;s &aacute;lbumes">Título de la Galería</a></h4>
	{% include '/Index/galeria.html.twig' %}  
	{% include '/Index/video.html.twig' %}  
</div>		