{% extends layout %}

{% block title parent() ~ " - Inicio" %}

{% block contenido %}
    <div class="col_drcha">
        {% include 'Index/sliderImagenes.html.twig' %}
	<div class="media">
            {% include 'Index/novedades.html.twig' %}
            {% if values.eventos %}
                {% include 'Index/eventos.html.twig' %}
            {% else %}
                {% include 'Index/contenidosVisitados.html.twig' %}  
            {% endif %}
	</div>

	<div class="media">
            <div class="media_izqda border_top">
                <span class="raya azul"></span>
                <h1>Bienvenida del Presidente</h1>
                <img src="{{app.path}}/docs/GconContenidos/saluda-presidente.jpg" alt="#" title="#" />
                <p>{{values.presidente.Resumen}}</p>
                {{ macro.link('ampliar',none,values.presidente.url.url,values.presidente.url.targetBlank,none,'boton right') }}
            </div>
                
            {% include 'Index/albumes.html.twig' %}  

	</div>
    </div>	
{% endblock %}

