<div class="media_izqda">
	<div id="noticias_top"></div>
	<div id="noticias_inter">
		<h1>Novedades</h1>
                    {% include '/Index/sliderNoticias.html.twig' %}
		{#//include('home/maquetacion-noticia-individual.php');
			//<span class="filete"></span>
		//include('home/maquetacion-noticia-individual.php');#}
	</div>
	<div id="noticias_bottom"></div>
	
	<a href="noticias.php" title="ver m&aacute;s noticias" class="boton right">m&aacute;s noticias</a>


</div>