
/****************************
ALMANAQUE DE EVENTOS
*****************************/

#contenedor_almanaque {
	width:251px;
	/*height:190px; */
	float:left;
	/*margin: 25px 0 25px 8px; */
	margin: 0px 0px 0px 0px; 
	/*margin-top:0px;*/
	/*margin-bottom:20px;*/
	 /*background-color: #990000; */
	/*padding:1px 1px 1px 1px;
	background-color: #990000;
	text-align: center;*/
}


/*#contenedor_almanaque #cabecera_almanaque {
	background:url(../imagenes/calendario-cabecera.png) 0 0 no-repeat;
	width:260px;
	height:33px;
	float:left;
	margin-bottom:5px;
}*/

/*#contenedor_almanaque #cabecera_almanaque #mes_anterior_almanaque {
	width:15px;
	height:33px;
	float:left;
} */

/* #contenedor_almanaque #cabecera_almanaque #nombre_mes_year_almanaque {
	width:260px;
	height:25px;
	padding-top:0px;
	float:left;
	color:#444;
	text-align:center;
	font-weight:normal;
	font-size:22px;
	font-family:gill;

} */


/* #contenedor_almanaque #cabecera_almanaque #mes_siguiente_almanaque {
	width:15px;
	height:33px;
	float:left;
} */


#contenedor_almanaque #borde_sup_almanaque {
	background:url(../imagenes/fondo-calendario-top.png) 0 0 repeat-x;
	width:250px;
	text-align:center;
	color:#f5f5f5;
	font-size:14px;
	padding-top:10px;
	height:26px;
	float:left;
	text-transform:uppercase;
	margin-bottom:0px;
	
}

#contenedor_almanaque #borde_sup_almanaque img {
	margin:4px 10px 0px 10px;
}

.mes_year {
	width:190px;
	float:left;
}

#contenedor_almanaque #contenedor_tabla_dias {
	background:url(../imagenes/fondo-calendario.png) 0 0 repeat-y;
	width:251px;
	float:left;
	overflow:hidden;
	padding-left:0px;}

/*#contenedor_almanaque #borde_inf_almanaque {
	background:url(../imagenes/fondo-calendario-bottom.png) 0 0 no-repeat;
	width:251px;
	height:43px;
	float:left;}*/


#contenedor_almanaque #cabecera_almanaque {
	background:url(../imagenes/fondo-mes.png) 0 0 no-repeat;
	width:251px;
	height:29px;
	float:left;
	margin-bottom:0px;
	float:left;
	text-align:center;
/*font-family:museo500;*/
	font-size:17px;
	color:#88b6dc;
	padding-top:6px;
}

#contenedor_almanaque #cabecera_almanaque img {
	margin-bottom:0px;
	margin-left:15px;
	margin-right:15px;
}



#contenedor_almanaque table#almanaque {
	width:250px;
	border-spacing:1px;
	/*border-collapse:separate;*/
	padding-left:0px;
}

/*#almanaque_espacio_superior {
	height:12px;
}*/


/* #almanaque_mes {
	background:url(../imagenes/mes-calendario_v2.png) 0 0 no-repeat;
	text-align:center;
	height:48px;
	color:#004C8E;
	font-size:18px;
	padding-bottom:5px;
} */

table#almanaque tr td.nombredias_almanaque {
	/*font-family: Verdana, sans-serif, Arial;*/
	font-size:9px;
	text-align:center;
	color:#646464;
	font-weight:bold;
	height:15px;
	background:#e3e3e3;
	padding:4px 0;
	border:1px solid #e3e3e3;
}

table#almanaque tr td.diasactuales_almanaque {
	/*font-family:Arial,Helvetica,sans-serif;*/
	font-size:11px;
	width:26px;
	height:20px;
	color:#444;
	text-align:center;
	font-weight:700;
	padding:5px 0;
	border:1px solid #eee;
}


table#almanaque tr td.dia_con_evento_almanaque {
	background:url(../imagenes/calendario-esquina.png) right 0 no-repeat;
	/*font-family:Arial,Helvetica,sans-serif;*/
	font-size:11px;
	width:26px;
	height:20px;
	color:#fff;
	padding:5px 0;
	text-align:center;
	border:1px solid #eee;
}

table#almanaque tr td.dia_con_evento_almanaque:hover {
	background:#E3E3E3 url(../imagenes/calendario-esquina.png) right 0 no-repeat;
}

table#almanaque tr td.dia_con_evento_almanaque a {
	color:#444;
	text-decoration:none;
	font-weight:700;
}

table#almanaque tr td.dia_con_evento_almanaque a:hover {
	text-decoration:underline;
}

/*#contenedor_almanaque table a {
	color: #ffffff;
}*/


table#almanaque tr td.diasadyacentes_almanaque {
	/*font-family: Verdana, sans-serif, Arial;*/
	font-size:10px;
	text-align:center;
	color: #cfcfcf;
	border:1px solid #eee;
	font-weight:700;
}

/*#siguiente_anterior_almanaque {
	font-size:10px;
	font-weight:bold;
	text-align:center;
}*/


/* ______________________________________ FIN: ALMANAQUE DE EVENTOS  ____________________________________ */

