{# Muestro la seccion, sin subsecciones ni contenidos #}

{% extends layout %}

{% block title parent() ~ " - Inicio" %}

{% block contenido %}
    <div class="col_drcha">
        <div class="contenedorNoticia">  

            {% if (values.seccion.MostrarTitulo.IDTipo and values.seccion.Titulo) %}
                <h1>{{values.seccion.Titulo}}</h1>
            {% endif %}

            {% if (values.seccion.MostrarSubtitulo.IDTipo and values.seccion.Subtitulo) %}
                <h2>{{values.seccion.Subtitulo}}</h2>
            {% endif %}

            {% if (values.seccion.MostrarIntroduccion.IDTipo and values.seccion.Introduccion) %}
                <h3>{{values.seccion.Introduccion}}</h3>
            {% endif %}

        </div>
    </div>
{% endblock%}