{% extends layout %}

{% block title parent() ~ " - Inicio" %}


{% block contenido %}
<div class="col_drcha">
    {% include '_global/ruta.html.twig' %}
    <h1>Enlaces de interés</h1>
    <div class="contenedor_100">
        <ul id="contenedorEnlaces">
            {% for enlace in values.seccionesEnlaces %}
                <li>
                    <h3><a href="{{enlace.url.url}}" title="{{enlace.titulo}}">{{enlace.titulo}}</a></h3>
                    <h4>{{enlace.subtitulo}}</h4>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
