{% extends '_global/layoutLaptopPopup.html.twig' %}


{% block contenido %}

<div class="contenidoslegales">

<h2>Aviso Legal</h2><br /><br />

<b>TITULARIDAD DEL SITIO WEB</b><br /><br />

Dominio: {{values.dominio}} <br /><br />


<b>T&Eacute;RMINOS Y CONDICIONES DE USO DEL LUGAR</b><br /><br />

Este es un sitio web que {{values.empresa}} pone a disposici&oacute;n de todas las personas usuarias de Internet. Su objetivo es suministrar informaci&oacute;n a dichos usuarios/as y dar a conocer as&iacute; nuestra actividad.<br /><br />

Todos los derechos est&aacute;n reservados. No est&aacute; permitida la modificaci&oacute;n de la web ni de sus contenidos.<br /><br />

No somos responsables del contenido, exactitud y actualizaci&oacute;n de la informaci&oacute;n que proviene de otras personas f&iacute;sicas o jur&iacute;dicas y que conste en el lugar web o a la que se remita a partir de enlaces u otros sistemas. <br /><br />

No somos responsables del uso por terceras personas o entidades de la informaci&oacute;n contenida, si bien &eacute;stas tendr&aacute;n que atenerse a las advertencias que consten para determinados documentos y aplicativos.<br /><br />

No garantizamos que la web y el servidor est&eacute;n libres de virus y no somos responsables de los da&ntilde;os causados por el acceso al lugar web o por la imposibilidad de acceder al mismo.<br /><br />

Nos reservamos el derecho a modificar y ampliar contenidos, informaciones, aplicativos, etc., de este lugar web en cualquier momento y sin previo aviso.<br /><br />

Es nuestro inter&eacute;s que este lugar web funcione con la m&aacute;xima eficacia y cumpla la finalidad para la que ha sido creado y por ello lo mantenemos, poniendo todos los medios razonables para conseguirlo, pero no nos responsabilizamos de posibles disfunciones o anomal&iacute;as en su funcionamiento.<br /><br />

Podremos modificar los t&eacute;rminos y condiciones que aparecen en esta p&aacute;gina web y, por tanto, aconseja su consulta con una periodicidad razonable por si se producen cambios en los mismos.<br /><br />

El uso de este lugar web implica la aceptaci&oacute;n de los t&eacute;rminos y condiciones contenidos en el mismo.<br /><br />

Para cualquier aclaraci&oacute;n, informaci&oacute;n, sugerencia, queja, etc., pueden utilizar el formulario de contacto de esta web.<br /><br />

<b>CONDICIONES GENERALES DE USO Y POL&Iacute;TICA DE PROTECCI&Oacute;N DE DATOS DE CAR&Aacute;CTER PERSONAL</b><br /><br />

Por favor, lea atentamente estas condiciones de uso antes de utilizar este sitio web. La utilizaci&oacute;n del mismo supone que el usuario o usuaria reconoce impl&iacute;citamente que acepta las condiciones. Si no est&aacute; de acuerdo con ellas o tiene alguna duda le rogamos que no se registre ni utilice este sitio web.<br /><br />

<b>POL&Iacute;TICA DE PROTECCI&Oacute;N DE DATOS</b><br /><br />

Esta p&aacute;gina web tiene como prop&oacute;sito principal suministrar informaci&oacute;n a sus usuarios/as y dar a conocer as&iacute; nuestra actividad.<br /><br />

Asumimos las obligaciones legales en materia de protecci&oacute;n de datos de car&aacute;cter personal, especialmente en lo referido a:<br /><br />

.- La finalidad de la recogida de datos. <br />
.- Los destinatarios o destinatarias de la informaci&oacute;n. <br />
.- El car&aacute;cter facultativo u obligatorio de las preguntas que hagamos. <br />
.- Las consecuencias de la obtenci&oacute;n de los datos o de la negativa a suministrarlos.<br /><br />

Es nuestro deseo que el usuario o usuaria cuente con la informaci&oacute;n adecuada para decidir de forma expresa, libre y voluntaria si desea facilitar sus datos en la forma que se requiere. <br /><br />

Salvo que se se&ntilde;ale lo contrario en cada caso, los datos que se recogen en los formularios son necesarios y obligatorios para poder acceder y prestar los servicios establecidos en la web. El usuario o usuaria debe rellenar los formularios con datos verdaderos, exactos y completos, respondiendo de los da&ntilde;os y perjuicios que puedan ocasionar en caso de cumplimentaci&oacute;n defectuosa, con datos falsos, inexactos, incompletos o no actualizados.<br /><br />

Tenemos el compromiso de adoptar los niveles de seguridad de protecci&oacute;n de datos personales exigidos en la legislaci&oacute;n vigente, instalando al efecto las medidas t&eacute;cnicas y organizativas necesarias para evitar la p&eacute;rdida, mal uso, alteraci&oacute;n, acceso no autorizado y dem&aacute;s riesgos posibles. Nos comprometemos a cumplir con la obligaci&oacute;n de secreto respecto de los datos contenidos en los ficheros establecidos en la legislaci&oacute;n vigente.<br /><br />

Nuestra preocupaci&oacute;n prioritaria es la seguridad del almacenamiento de los datos personalmente identificadores del usuario o usuaria. <br /><br />

Ponemos un gran cuidado al transmitir los datos desde el ordenador del usuario o usuaria a nuestros servidores. <br /><br />

S&oacute;lo los responsables que necesitan acceder a los datos de los usuarios y usuarias para realizar su trabajo tienen acceso a los mismos.<br /><br />

Cualquier persona que viole nuestras pol&iacute;ticas de protecci&oacute;n de datos y/o de seguridad estar&aacute; sujeto/a a acciones disciplinarias.<br /><br />

Finalmente se recomienda que en caso de que el usuario o usuaria no est&eacute; utilizando un ordenador propio, no olvide cerrar la sesi&oacute;n antes de salir del sitio web ni cerrar su navegador cuando haya terminado la navegaci&oacute;n por el mismo. Esto es para asegurar que nadie pueda acceder a los datos personales ni a la correspondencia del usuario o usuaria en caso de que su ordenador sea accesible por terceras personas o si lo comparte con otros/as o si utiliza un ordenador en un local p&uacute;blico.<br /><br />

<b>ACEPTACI&Oacute;N DE LAS PRESENTES CONDICIONES</b><br /><br />

Al utilizar esta web, asumimos que el usuario o usuaria ha le&iacute;do este documento cuidadosamente y que ha entendido y seguido sus consejos. En caso de que el usuario o usuaria no est&eacute; de acuerdo con esta pol&iacute;tica de protecci&oacute;n de datos o con los consejos que a trav&eacute;s de la misma se dan, por favor no utilice nuestra p&aacute;gina web. Nos reservamos el derecho a modificar la presente condici&oacute;n de uso cuando consideremos que es necesario. La continuidad por el usuario o usuaria en el uso de esta y de otras webs nuestas despu&eacute;s de haber introducido dichos cambios implicar&aacute; la total aceptaci&oacute;n de los mismos.</p>
</div>
{% endblock %}


