<div class="mosaicoProyectos"> 

    <div class="proyectosFila">

        <div class="proyecto1">
                <a href="'.$imagen2.'" rel="gallery" class="pirobox_gall2" title="'.$piedefoto.'"><img src="'.$imagen1.'" alt="'.$piedefoto.'" title="'.$piedefoto.'" /></a>
                <div class="textoAlbum"><h4>'.$titulo1.'</h4></div>

                        <a href="'.$imagen12.'" rel="gallery" class="pirobox_gall2" title="'.$piedefoto.'"></a>
                        <a href="'.$imagen11.'" rel="gallery" class="pirobox_gall2" title="'.$piedefoto.'"></a>
                        <a href="'.$imagen4.'" rel="gallery" class="pirobox_gall2" title="'.$piedefoto.'"></a>
        </div>



        <div class="proyecto2">
                <a href="'.$imagen1.'" rel="gallery" class="pirobox_gall3" title="'.$piedefoto.'"><img src="'.$imagen5.'" alt="'.$piedefoto.'" title="'.$piedefoto.'" /></a>
                <div class="textoAlbum"><h4>'.$titulo1.'</h4></div>

                        <a href="'.$imagen5.'" rel="gallery" class="pirobox_gall3" title="'.$piedefoto.'"></a>
                        <a href="'.$imagen6.'y" rel="gallery" class="pirobox_gall3" title="'.$piedefoto.'"></a>
                        <a href="'.$imagen7.'" rel="gallery" class="pirobox_gall3" title="'.$piedefoto.'"></a>
        </div>



        <div class="proyecto3">
                <a href="'.$imagen1.'" rel="gallery" class="pirobox_gall4" title="'.$piedefoto.'"><img src="'.$imagen12.'" alt="'.$piedefoto.'" title="'.$piedefoto.'" /></a>
                <div class="textoAlbum"><h4>'.$titulo1.'</h4></div>

                        <a href="'.$imagen8.'" rel="gallery" class="pirobox_gall4" title="'.$piedefoto.'"></a>
                        <a href="'.$imagen9.'" rel="gallery" class="pirobox_gall4" title="'.$piedefoto.'"></a>
                        <a href="'.$imagen10.'" rel="gallery" class="pirobox_gall4" title="'.$piedefoto.'"></a>
        </div>

    </div>

</div>