{% extends layout %}

{% block contenido %}

<div class="col_drcha">
    {% include '_global/ruta.html.twig' %}
    <h1>Galería de imágenes</h1>

    <div id="mosaicoProyectos"> 
        {% include 'galeria/galeriaFila.html.twig' %}
    </div> 
</div>

{% endblock %}