{% extends layout %}

{% block contenido %}

<div class="col_drcha">
    {% include '_global/ruta.html.twig' %}
    <h1>Galería de imágenes</h1>

    <div id="mosaicoProyectos"> 
        {% for fila in values.galeriaImagenes %}        
            <div class="proyectosFila">
                {% for key,album in fila %}
                    {{ macro.galeriaCalameo(album,key+1) }}
                {% endfor %}
            </div>
        {% endfor %}            
    </div> 
</div>

{% endblock %}