{% extends '_global/layoutLaptopPopup.html.twig' %}

{% block contenido %}
    <div class="contenidoslegales">
        <h2>Pol&iacute;tica de Privacidad</h2>
        <p>Salvo que se se&ntilde;ale lo contrario en cada caso, los datos que se recogen en los formularios son necesarios y obligatorios para poder acceder y prestar los servicios establecidos en la web. El usuario o usuaria debe rellenar los formularios con datos verdaderos, exactos y completos, respondiendo de los da&ntilde;os y perjuicios que puedan ocasionar en caso de cumplimentaci&oacute;n defectuosa, con datos falsos, inexactos, incompletos o no actualizados.</p>

        <p>Tenemos el compromiso de adoptar los niveles de seguridad de protecci&oacute;n de datos personales exigidos en la legislaci&oacute;n vigente, instalando al efecto las medidas t&eacute;cnicas y organizativas necesarias para evitar la p&eacute;rdida, mal uso, alteraci&oacute;n, acceso no autorizado y dem&aacute;s riesgos posibles. Nos comprometemos a cumplir con la obligaci&oacute;n de secreto respecto de los datos contenidos en los ficheros establecidos en la legislaci&oacute;n vigente.</p>
    </div>
{% endblock %}


