<div id="formulario">
    <form>
        <div id="input_oculto">
            <input type="text" name="buzon" value="" />
            <input type="text" name="action" value="" />
        </div>

        <label>Nombre</label>
        <input type="text" name="" class="celda" />

        <label>Contrase&ntilde;a</label>
        <input type="password" name="" class="celda" />

        <div class="botonera">
            <a href="olvido.php" title="" class="olvido">Olvid&eacute; mi contrase&ntilde;a</a>
            <a href="#" title="enviar" class="boton right">enviar</a>
        </div>
    </form>
</div>