<article id="formulario" class="mensaje">
	<div class="exito mensajeOk">Su perfil de usuario se ha creado correctamente.</div> {# --------------------------------------------- MENSAJE DE EXITO ---------- #}
	
	{#<div class="error">Por problemas t&eacute;cnicos, el mensaje no ha podido ser procesado en estos momentos.</div>#} {# - MENSAJE DE ERROR ---------- #}
</article>