{% extends layout %}

{% set nColumnas = 3 %}
{% set nuevaFila = 1 %}

{% block contenido %}
    <div class="col_drcha">
        {% include '/_global/ruta.html.twig' %}
	<h1>Galería de Vídeos</h1>
        
        <div id="mosaicoProyectos"> 


            {% for key, video in values.galeriaVideos.thumbnail %}
                
                {% if nuevaFila %}
                    <div class="proyectosFila">
                {% endif %}
                            
                {{ macro.video (video, key) }}
                            
                {% if key is divisibleby(nColumnas) %}
                    </div>
                    {% set nuevaFila = 1 %}
                {% else %}
                    {% set nuevaFila = 0 %}
                {% endif %}
                
            {% endfor %}

            </div> 
    </div>    
{% endblock %}
