{% extends layout %}

{% block contenido %}
    <div class="col_drcha">
        {% include '/_global/ruta.html.twig' %}
	<h1>Galería de Vídeos</h1>
        
	<div id="showreel">
            <div id="video">
                <iframe width="417" height="329" src="http://www.youtube.com/embed/{{values.video.embed}}" frameborder="0" allowfullscreen></iframe>
            </div>
		<h2>{{values.video.titulo}}</h2>
		<p>Autor / Fuente: <strong>{{values.video.autor}}</strong></p>
		<p>{{values.video.resumen}}</p>             
		<a href="javascript:history.back()" title="volver atr&aacute;s" class="boton right">volver atr&aacute;s</a>
	</div>

    </div> 
{% endblock %}
