{% extends layout %}

{% block contenido %}
    <div class="col_drcha">
	{% include '/_global/ruta.html.twig' %}
	<h1>Eventos</h1>

	<div id="col_izqda">
            {% for evento in values.eventos.left %}    
                {% include '/Eventos/eventoIndividual.html.twig' %}
            {% endfor %}
	</div>


	<div id="col_drcha">
            {% for evento in values.eventos.right %}    
                {% include '/Eventos/eventoIndividual.html.twig' %}
            {% endfor %}
	</div>
	
	{% include'Eventos/botonera.html.twig' %}
    </div>	
{% endblock %}