{% extends layout %}

{% block contenido %}

<div class="col_drcha">
	<div id="error_404">
            <img src="{{app.path}}/images/aspa.png" alt="Error 404" title="Error 404" />
            <h1>&iexcl;Lo sentimos!<br />No hemos podido localizar la p&aacute;gina.</h1>
            <p class="exito">Si navegas con los men&uacute;s que te ofrecemos aqu&iacute; puede que encuentres lo que buscas</p>
	</div>
</div>

<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> branch 'master' of 192.168.1.101:~/proyectos/regantes.git
