{% extends layout %}

{% block contenido %}
<div class="col_drcha">
    {% include '_global/ruta.html.twig' %}
    <h1>Saluda del Presidente</h1>
  	<p>Como Presidente de la Comunidad, es un orgullo presentar este portal, fiel reflejo de lo que
	siempre pretendemos, que la actuación de la Comunidad sea conocida y transparente en
	su quehacer diario. Queremos aprovechar siempre la última tecnología aplicada a nuestra
	existencia, no solo en las labores administrativas que inciden en tener una Comunidad
	de Regantes del siglo XXI, sino en cualquier otro ámbito que redunde en un mejor
	aprovechamiento o información a nuestra masa social.</p>

	<p>A la par que esta web que presento, informo del inminente inicio de las obras de
	modernización de la toma de esta Comunidad. Obra largamente esperada y no exenta de
	polémica propia de los pueblos. Con esta obra bajaremos muy sensiblemente el precio del
	m3 dado que el punto de suministro pasará a ser la presa de béznar en vez del acuífero de
	Salobreña. Para ello acometeremos las obras necesarias. El futuro de esta Comunidad es la
	realización de esas obras, para ello llevamos tiempo preparándonos y tanto la obra como la
	web corporativa que presento coinciden en el tiempo.</p>

	<p>Deseo que ambas circunstancias traigan un poco de esperanza y alegría a todos nuestros
	partícipes, los que creen o los que nunca creyeron. Para todos, también para los últimos, es
	esta obra y esta web.</p>
</div>	
{% endblock %}