{% extends layout %}

{% block contenido %}
<div class="col_drcha">
    {% include '_global/ruta.html.twig' %}
    <h1>Quienes somos</h1>
  	<p>La Comunidad de Regantes Virgen de la Salud es una entidad de derecho público constituida
	por resolución del MOP del año 1986.</p>

	<p>Esta Comunidad nació con el reflejo de las 11 personas que la crearon y apostaron por
	ella, nació con vocación de servicio y mejor gestión de los recursos y de las actuaciones
	administrativas que componen nuestro día a día.</p>

	<p>Fue desde sus inicios y hasta el presente, una obra de iniciativa privada al 100% siendo un
	homenaje a todos sus partícipes que con gran sacrificio van sosteniendo la misma, debido a los
	incrementos sobre todo energéticos y de derivados del petróleo.</p>

	<p>La Comunidad de Regantes riega en los términos municipales de Ítrabo, Molvízar, Salobreña y
	Jete que es colindante con Ítrabo aguas abajo del Río Verde.</p>

	<p>Toda el agua es contada por contadores y el 100% del riego es riego localizado desde el inicio.
	No hay ni un centímetro de acequias, dado que todo circula por tuberías y el agua se trata
	como lo que es: un bien escaso y caro, muy muy muy muy caro.</p>

	<p>En la actualidad la Comunidad tiene unos 1000 agricultores que reciben agua desde la misma,
	manejada y distribuida por el personal de la Comunidad, que realiza los turnos en función
	de sus peticiones y de su propia necesidad. El servicio de riegos procura que siempre haya
	equidad en el reparto del agua a los participes, en cantidad y en tiempo, en equivalencia a la
	superficie que cada uno tiene.</p>

	<p>Nuestra sede está en la villa de Ítrabo, donde tuvo su origen esta Comunidad, aunque en
	la actualidad, debido a los cambios demográficos, y al paso de los años, nuestros partícipes
	o socios han repartido sus domicilios por los municipios de Motril, Salobreña, y Almuñécar
	quedando ya reducida a menos de un tercio la cantidad de asociados que viven en esta Villa.</p>
</div>	
{% endblock %}