{% extends layout %}

{% block bodyContacto %}
onload="initialize ()"
{%endblock%}

{% block contenido %}
    <div class="col_drcha">
        {% include '/_global/ruta.html.twig' %}
	<div class="media">
            <h1>Contacta con nosotros</h1>
            {% include 'contacto/formulario.html.twig' %}
            {#{% include 'contacto/mensajes.html.twig' %}#} {# ------------------- ESTOS SON LOS MENSAJES DE RESPUESTA DEL FORMULARIO ------------------- #}
            {% include 'contacto/situacion.html.twig' %}
	</div>
    </div>	
{% endblock %}