<div class="mensaje">
	<div class="exito mensaje_enviado">Su mensaje ha sido enviado correctamente.</div> {# --------------------------------------------- MENSAJE DE EXITO ---------- #}
	
	{#<div class="error">Por problemas t&eacute;cnicos, el mensaje no ha podido ser procesado en estos momentos.</div>#} {# - MENSAJE DE ERROR ---------- #}
</div>