<div class="media_drcha">
    <div id="map_canvas"></div>
    <ul id="situacion">
        <li id="cont_direccion">Avda. de Jete, 6 | 18612 &Iacute;TRABO (Granada)</li>
        <li id="cont_telefono">958 621 127</li>
        <li id="cont_mail"><a href="mailto:info@regantesvirgensalud.com" title="Escr&iacute;benos a: info@regantesvirgensalud.com">info@regantesvirgensalud.com</a></li>
    </ul>
</div>